@import url(./_reset.css);
@import url(./_base.css);
@import url(./_typography.css);

main.wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 2px 15px -2px rgba(0, 0, 0, 0.4);
}
img {
  width: 100%;
}
h3 {
  font-size: 2.5rem;
}
h2 {
  font-size: 8rem;
}

.section_one {
  display:grid;
  grid-template-columns: 50% 50%;
}
.textbox {
  padding: 8rem 8rem 0;
  margin: 2rem;
}
.top_textbox {
  padding: 0 8rem;
}
.top_textbox > h3 {
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.textbox p {
  margin-top: 5rem;
  font-size: 2.7rem;
}

.section_two {
  margin-bottom: 8rem;
  display:grid;
  grid-template-columns: 50% 50%;
}
.section_two > img {
  grid-row: 1/3;
  grid-column: 1;
}
blockquote {
  min-height: 14rem;
  grid-column: 1/-1;
  grid-row: 1/2;

  z-index: 1;

  margin: 10rem;
  font-size: 4rem;
  padding: 5rem;
  background-color: white;
  box-shadow: 0px 6px 2px 0px rgba(0, 0, 0, 0.4);
  font-style: italic;
}
.second_textbox {
  grid-column: 2;
  grid-row: 2;
}

.section_three {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border: 1px solid #666;
  margin: 0 8rem;
}
.third_textbox {
  padding: 2rem 8rem;
}
.third_textbox p {
  margin-top: 0;
}
.register_textbox {
  padding: 2rem;
}

.section_four {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
  margin: 8rem;
}
.box {
  padding: 80px 40px;
  margin-bottom: 10rem;
  background-color: #f2f2f2;
  text-align: center;
  transition: box-shadow 200ms linear, transform 200ms linear, backround-color 200ms linear;
}
.box p {
  margin-top: 2rem;
  font-size: 2.6rem;
}
.box > img {
  width: 80px;
}
.box:hover {
  background-color: #666;
  box-shadow: 0 1rem 2rem #666;
  transform: scale(1.05);
}
.box:hover p {
  color: white;
}

form {
  display: flex;
  align-items: flex-end;
}

#mail_input {
  font-family: "Source Sans Pro", sans-serif;
  color: #555;
  font-size: 2.5rem;
  border: 0;
  border-bottom: 1px solid black;
  line-height: 2.2;
  flex: 2;
}
#mail_submit {
  flex: 1;
  font-size: 2.6rem;
  background-color: #000;
  color: white;
  border: 0;
  line-height: 2.2;
}
